<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jojo.pad">

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.SplashActivity" />
        <activity android:name=".ui.activity.account.CompanyLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.account.EmployeeLoginActivity" />
        <activity android:name=".ui.activity.account.CompanyRegisterActivity" />
        <activity android:name=".ui.activity.account.CompanyStyleActivity" />
        <activity android:name=".ui.activity.companystyle.NormalCompanyActivity" />
        <activity android:name=".ui.activity.companystyle.SpecialCompanyActivity" />
        <activity android:name=".ui.activity.MemberActivity" />
        <activity android:name=".ui.activity.TransferActivity" />
        <activity android:name=".ui.activity.AddMemberActivity" />
        <activity android:name=".ui.activity.SaleDocumesActivity" />
        <activity android:name=".ui.activity.NewGoodsActivity"/>

        <activity android:name=".ui.activity.OrderApplicationActivity" />
        <activity android:name=".ui.activity.GoodsManageActivity" />
        <activity android:name=".ui.activity.LogisticActivity" />
        <activity android:name=".ui.activity.MessageCenterActivity" />
        <activity android:name=".ui.activity.SystemSetupActivity" />
        <activity android:name=".ComAssistantActivity"
            android:configChanges="orientation|keyboard"
            />
        <activity android:name=".ui.activity.TransferDayActivity">

        </activity>
        <activity android:name=".util.MainActivity"/>
        <activity android:name=".uu.MainActivity2"/>
        <service
            android:name=".uu.KeyEventService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice"/>
        </service>
    </application>

</manifest>